
body {
  margin: 0;
}

/* footer */
footer {
  background-color: #1a1a1a;
}


/* header */
.header-cabecera {
  height: 30vh;
  color: white;
  background-image: url("/src/assets/img/Header.jpg");
  background-size: cover;
}

.header-content {
  background-color: rgba(15, 15, 15, 0.6);
  font-size: 1.4rem;
  font-stretch: expanded;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 1px 1px #000;
}

.header-hr{
  width: 80%;
}

